.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.top-10
  = render 'stores/registrations/process', step: 2
  #store_registration.top-10
    = form_for current_user.store, url: process_phone_stores_registrations_path, method: :post do |f|
      .panel.panel-default
        .panel-heading
          Phone verify
        .panel-body
          %p
            We have just send you an sms which contains the verify code to number
            %strong= current_user.store.phone
            \. Please check your phone and fill the code into the form below. If you don't receive any sms. Please
            = link_to 'click here', resend_phone_stores_registrations_path, method: :post, data: {confirm: 'Are you sure?'}
            to re-send the sms.
          .form-group
            = f.text_field :received_verify_code, class: 'form-control'
        .panel-footer
          .pull-left
            = link_to 'Change information', reset_stores_registrations_path, method: :post, class: 'btn btn-default', data: {confirm: 'Are you sure?'}
          .pull-right
            = f.submit 'Continue', class: 'btn btn-primary'
          .clearfix