.container-fluid
  .panel.panel-default
    .panel-heading
      List of posts
    .panel-body
      - if @posts.present?
        %table.table
          %thead
            %tr
              %th
              %th
              %th Description
              %th User
              %th Lat long
          %tbody
            - @posts.each do |post|
              %tr{post_id: post.id}
                %td{style: 'width: 50px'} ##{post.id}
                %td{style: 'width: 300px; height: auto;'}= image_tag post.picture.url(:fb_image_thumb), class: 'img-responsive' if post.picture.present?
                %td= post.description
                %td{style: 'width: 300px'}
                  = post.user_name
                  - if post.user.present?
                    (#{post.user.email})
                %td
                  #{post.lat}, #{post.long}
      - else
        .text-center No posts found
