.container-fluid
  .panel.panel-default
    .panel-heading
      List of posts
    .panel-body
      - if @posts.present?
        %table.table
          %thead
            %tr
              %th
              %th Post
              %th User
              %th Interaction
              %th Other information
              %th Timestamp
          %tbody
            - @posts.each do |post|
              %tr{post_id: post.id}
                %td{style: 'width: 50px'}
                  = link_to post_path(post) do
                    \##{post.id}
                %td{style: 'width: 300px; height: auto;'}
                  = image_tag post.picture.url(:fb_image_thumb), class: 'img-responsive' if post.picture.present?
                  %p= post.description
                %td{style: 'width: 300px'}
                  = post.user_name
                  - if post.user.present?
                    (#{link_to post.user.email, user_path(post.user)})
                %th
                  %li #{post.post_likes.count} likes
                  %li #{post.comments.count} comments
                %td
                  - if post.lat.present?
                    %li Latitude: #{post.lat}
                  - if post.long.present?
                    %li Longitude: #{post.long}
                %th
                  %li Created #{time_ago_in_words(post.created_at)} ago
                  - if post.post_likes.present?
                    %li Last like #{time_ago_in_words(post.post_likes.last.created_at)} ago
                  - if post.comments.present?
                    %li Last comment #{time_ago_in_words(post.comments.last.created_at)} ago
        .dataTables_footer.clearfix
          .col-md-6
            .dataTables_info Total #{@posts.total_count} results.
          .col-md-6
            .dataTables_paginate.paging_bootstrap= paginate @posts
      - else
        .text-center No posts found
