!!!
%html
  %head
    %title Solomo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAyIA48rQ8VJtuJ140hblQaU3XCrT6bI", async: true, defer: true}
  %body
    = render "layouts/notices"
    %header
      %nav#heading.navbar(role="navigation")
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-5", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => root_path} Solomo
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.dropdown{class: ('active' if params[:controller] == "posts")}
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Introduction
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Downloads
            = render "layouts/header_user"
    = yield