!!!
%html
  %head
    %title Solomo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #home_header
      %nav#heading.navbar(role="navigation")
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-5", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => root_path} Solomo
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.dropdown{class: ('active' if params[:controller] == "posts")}
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Introduction
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Downloads
            .navbar-collapse.navbar-right{:role => "search"}
              %ul.nav.navbar-nav
                %li.dropdown
                  - if user_signed_in?
                    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                      Hello, #{current_user.name}
                    %ul.dropdown-menu{role: 'menu'}
                      - if current_user.is_admin?
                        %li
                          = link_to 'Admin dashboards', admin_dashboards_path
                      - if current_user.is_store?
                        %li
                          = link_to 'Store dashboards', store_dashboard_path
                  - else
                    = link_to 'Login / Register', new_user_session_path
    = yield
